<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.zabbix"
      android:versionCode="1"
      android:versionName="1.0">

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_PROVIDER"></uses-permission>
	<uses-permission android:name="android.permission.READ_ATTACHMENT"></uses-permission>

	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true" />

    <application android:label="@string/app_name" android:icon="@drawable/zabbix">
        <activity android:name=".LoginActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="HostListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
        </activity>
        <activity android:name="HostDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
        </activity>
        <activity android:name="MonitorActivity">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
            <intent-filter>
    			<action android:name="android.intent.action.SEND" />
    			<category android:name="android.intent.category.DEFAULT" />
    			<data android:mimeType="image/*" />
    		</intent-filter>
        </activity>
       

    </application>
   
</manifest>